.hero-background
{
    background:url("../../assets//images/hero2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
}
.background-options-box
{
    position: fixed;
    border: 1px solid  #ffffff;
    width: 40px;
    height: 80px;
    background-color: #000000;
    top: 30%;
}
