//colors
$main-color:#fff;
$nav-font-size:13px;
$social-media-color-first:#3a70d6;
$social-media-color-seconday:#4b92f4;
$social-media-color-third:green;



body
{
    font-family: Arial, Helvetica, sans-serif;
    color: $main-color;
}
